{% extends 'base.html' %}
{% block content %}
<h2>PSP Daily Summary</h2>
<table class="table table-bordered table-sm align-middle">
  <thead>
    <tr>
      <th>Date</th>
      <th>Total Deposit</th>
      <th>Total Withdraw</th>
      <th>Commission</th>
      <th>Net</th>
      <th>Allocation Amount</th>
      <th>Total PSP</th>
      <th>Carry Over (Unpaid)</th>
    </tr>
  </thead>
  <tbody>
    {% for day in days %}
      <tr>
        <td>{{ day }}</td>
        {% set total_deposit = 0 %}
        {% set total_withdraw = 0 %}
        {% set total_commission = 0 %}
        {% set total_net = 0 %}
        {% set allocation_amount = 0 %}
        {% set total_psp = 0 %}
        {% set carry_over = 0 %}
        {% for psp in psps %}
          {% set total_deposit = total_deposit + summary[day][psp]['deposit'] %}
          {% set total_withdraw = total_withdraw + summary[day][psp]['withdraw'] %}
          {% set total_commission = total_commission + summary[day][psp]['commission'] %}
          {% set total_net = total_net + summary[day][psp]['net'] %}
          {% set total_psp = total_psp + 1 %}
          {% if not summary[day][psp]['paid'] %}
            {% set carry_over = carry_over + summary[day][psp]['net'] %}
          {% endif %}
        {% endfor %}
        <td><b>{{ total_deposit|format_number }}</b></td>
        <td><b>{{ total_withdraw|format_number }}</b></td>
        <td><b>{{ "{:.2f}".format(total_commission) }}</b></td>
        <td><b>{{ total_net|format_number }}</b></td>
        <td><b>{{ allocation_amounts[day]|format_number }}</b></td>
        <td><b>{{ total_psp }}</b></td>
        <td><b>{{ carry_over|format_number }}</b></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}